/* BEGIN RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding-inline-start: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
svg,
canvas {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* END RESET */

:root {
  --fnt-serif: "Fraunces", serif;
  --fnt-sans-serif: "Manrope", sans-serif;
}

body {
  font-family: var(--fnt-sans-serif);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--clr-dark);
  background-color: var(--clr-light);
}
